:root {
  --primary-color: #232488;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.header {
  display: flex;
  /* background-color: #182D7B; */
  background-color: var(--primary-color);
  justify-content: space-evenly;
}
.logo {
  height: 15rem;
  flex-basis: 10rem;
  padding: 1rem;
}
.logo img {
  height: 14rem;
}
.navbar {
  font-size: 1.8rem;
  padding: 2rem;
  text-align: right;
}
.navbar li {
  display: inline-block;
  list-style: none;
  padding: 0 2rem;
}
.navbar a {
  text-decoration: none;
  color: white;
}
.main {
  font-size: 1.6rem;
  display: flex;
  min-height: 90rem;
}
.sidebar {
  order: 1;
  background-color: var(--primary-color);
}
.sidebar div {
  background-color: salmon;
  margin: 3rem;
  border-radius: 1rem;
  width: 30rem;
  height: 15rem;
  overflow: hidden;
}
.sidebar img {
  width: 100%;
  height: 20rem;
}
.main-content {
  order: 2;
  background-color: var(--primary-color);
}
.footer {
  font-size: 1.8rem;
  display: flex;
  color: aliceblue;
  background-color: #444;
  justify-content: space-evenly;
}
.footer-rrss {
  padding: 2rem;
  text-align: right;
}
.footer-rrss li {
  display: inline-block;
  list-style: none;
  padding: 0 2rem;
}
.footer-rrss li a {
  text-decoration: none;
  color: blue;
}
.footer-description {
  padding: 2rem;
  width: 80rem;
}
.rrss {
  width: 3rem;
}
.card-img-top {
  /* height: 15vh; */
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  height: 30vh;
}
.card-img-top img {
  width: 20vw;
  border-radius: 1rem;
}
.main-header {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.card-group {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
}
main .card {
  margin: 0 0.5rem;
  width: 90%;
  border-radius: 2rem;
}
.card-title {
  font-size: 18px;
}
.h1-carousel {
  color: white;
  font-family: "Brush Script MT, Brush Script Std, cursive";
}
#carouselExampleDark {
  margin: 2rem;
}
.nom-carousel {
  padding: 1rem;
  margin: 2rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
  text-align: center;
}
.card-body img {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  height: 35vh;
  width: 695px;
}
li .register {
  background-color: rgb(159, 255, 127);
  padding: 2rem;
  border-radius: 1rem;
  font-weight: bold;
  color: var(--primary-color);
}
#hor-cards{
  width: 100%;
  padding-left: 7rem;
  padding-bottom: 1.5rem;
}