* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.header {
  display: flex;
  /* background-color: #182D7B; */
  background-color: aliceblue;
  justify-content: space-evenly;
 
}
.logo {
  height: 15rem;
  flex-basis: 10rem;
  padding: 1rem;
}
.logo img {
  height: 14rem;
}
.navbar {
  font-size: 1.8rem;;
  padding: 2rem;
  text-align: right;
  
}
.navbar li {
  display: inline-block;
  list-style: none;
  padding: 0 2rem;
}
.navbar a {
  text-decoration: none;
  color: white;
  color: #182D7B;
}
.main {
  font-size: 1.6rem;
  display: flex;
  min-height: 90rem;
  
}
.sidebar {
  order: 1;
  background-color: #182D7B;
}
.sidebar div {
  background-color: salmon;
  margin: 1rem;
  border-radius: 0.5rem;
  width: 25rem;
  height: 15rem;
}
.main-content {
  order: 2;
 
  background-color: #1B4D8F;
}
.footer {  
  font-size: 1.8rem;
  display: flex;
  color:aliceblue;
  background-color: #444;
  justify-content: space-evenly;
}
.footer-rrss {
  padding: 2rem;
  text-align: right;
}
.footer-rrss li {
  display: inline-block;
  list-style: none;
  padding: 0 2rem;
}
.footer-rrss li a {
  text-decoration: none;
  color: blue;
}
.footer-description {
  padding: 2rem;
  width: 80rem;
}
.rrss{
  width: 3rem;
}